*{
    margin: 0%;
    padding: 0%;

}
html,body{
    height: 100%;
    width: 100%;
}



h1{
    height: 50%;
    width: 50%;
    background-color: rgb(190, 190, 229);
    color: rgb(26, 26, 179); 
    text-align: center;
    font-size: xx-large; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{

    background-color: rgb(24, 129, 129);
}
p{
    background-color: rgb(160, 127, 78);
    
}