*{
    margin: 0%;
    padding: 0%;

}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(236, 211, 180);
    /* display: flex; */
    
}
main{
    display: flex;
}
div{
    height: 200px;
    width: 200px;

}
#box1{
    background-color: brown;
}
#box2{
    background-color: blue;
}
#box3{
    background-color: rgb(15, 99, 29);
}