*{
    margin: 0%;
    padding: 0%;

}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(26, 146, 146);
}
div{
    width: 30%;
    height: 30%;
}
#box1{
    background-color: rgb(108, 124, 124);
    height: 200px;
    width: 200px;
    border-style:solid;
    border-width: 3px;
    border-radius: 50%;
}
#box2{
    background-color: rgb(26, 124, 49);
    height: 30%;
    width: 30%;
    border-radius: 50%;
}
h1{
    border-radius: 10px;
    border-style:solid;
    border-width: 10px;

}

