#heading{
    color:blueviolet;
    text-decoration: line-through;
}
.title{
    color:cadetblue;
}
/* body{
    background-color: aquamarine;
} */
button{
    background-color: blue;
    color:white;
}